#files {
  place-content: center;
  margin: 0;
  padding: 2rem 1rem;
  text-align: center;
  background-color: var(--color-light);
  color: var(--color-text-dark);

  @media (min-width: 769px) {
    padding: 4rem 1rem;
  }

  h3 {
    display: none;
  }

  .container {
    display: inline-block;
    padding: 5vmin;
    text-align: center;
    background-color: var(--color-background);
    border: 4px dashed var(--color-accent);
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;

    a {
      margin: 0.5rem;
      font-size: clamp(1.5rem, 1.5vw, 2rem);

      &:last-child {
        font-weight: 800;
      }
    }
  }
}
