.page-footer {
  --logomark-height: 2em;
  --logomark-padding: 0;

  position: relative;
  padding: 2rem 1rem;
  margin: 0;
  background: linear-gradient(135deg, #011f2e 0%, var(--color-primary) 100%);
  color: var(--color-light);

  @media (min-width: 769px) {
    padding: 3rem 1rem;
  }

  ul a[class*="link-"] {
    border: 2px solid var(--color-accent);
    background-color: transparent;
    color: var(--color-accent);

    &:hover,
    &:focus {
      background-color: var(--color-accent);
      color: var(--color-primary);
    }
  }

  p:first-child {
    margin-top: 3rem;
    font-weight: var(--font-weight-strong);
    letter-spacing: 0.03em;
    text-align: center;
  }

  p a {
    color: var(--color-accent);
    font-weight: 600;

    &:hover {
      color: var(--color-secondary);
    }
  }

  ul {
    grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
  }

  .container > :last-child {
    margin-bottom: 0;
  }
}
