#guidelines {
  background-color: var(--color-background);
  color: var(--color-text);
  padding: 2rem 1rem;

  @media (min-width: 769px) {
    padding: 4rem 1rem;
  }

  .container {
    h2 {
      padding-left: 0;
      color: var(--color-text);
      text-align: center;
    }

    a {
      align-self: center;
      margin-top: 20px;
    }
  }

  h3 {
    display: inline-block;
    transform: rotate(-8deg) translateX(-10%);
    background: linear-gradient(to right, var(--color-secondary), var(--color-accent));
  }

  @supports (background-clip: text) {
    h3 {
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }

  @media (min-width: 120ch) {
    h3 {
      transform: rotate(-8deg) translateX(-30%);
    }
  }

  @media (min-width: 769px) {
    .container {
      max-width: 80ch;
      margin-left: 3vw;

      h2,
      a {
        align-self: flex-start;
      }
    }
  }
}
